

.waveformContainer {
	display:inline-block;
	width:60%;
	box-shadow: 10px 10px 6px -5px rgba(0,0,0,0.42);
	background-color:black;
	transition: box-shadow 0.3s;
	margin:0 auto;
}

.waveformContainer:hover {
box-shadow: 10px 10px 35px -3px rgba(0,0,0,0.42);
}

.muted {
	color:#888;
}

.icon {
	display:inline-block;
	margin:4px 25px;
	vertical-align: middle;

}




